<% action = cat.persisted? ? cat_url(cat) : cats_url %>
<% button_text = cat.persisted? ? "Edit le Cat" : "Submit da Cat" %>

<form action="<%= action %>" method = "POST">
    <% if cat.persisted? %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="cat_name">Name</label>
    <input name= "cat[name]" id="cat_name" type="text" value="<%= cat.name %>">
    <br>

    <label for="cat_birth_date">Birth date</label>
    <input name="cat[birth_date]" id="cat_birth_date" type="date" value="<%= cat.birth_date %>">
    <br>

    <label>Sex</label>
    <div>
        <input name="cat[sex]" id= "cat_sex_m" type="radio" value="M" <%= cat.sex == "M" ? checked = "checked" : checked = "" %>> 
        <label for="cat_sex_m">Male</label>
        <input name="cat[sex]" id= "cat_sex_f" type="radio" value="F" <%= cat.sex == "F" ? checked = "checked" : checked = "" %>> 
        <label for="cat_sex_f">Female</label>
    </div>
    <br>

    <label for="cat_color">Color</label>

    <select name="cat[color]">
        <option disabled selected value="<options>"><option></option>
        <option value="brown" <%= cat.color == "brown" ? "selected" : "" %> >brown</option>
        <option value="white"  <%= cat.color == "white" ? "selected" : "" %> >white</option>
        <option value="black"  <%= cat.color == "black" ? "selected" : "" %> >black</option>
        <option value="orange"  <%= cat.color == "orange" ? "selected" : "" %> >orange</option>
    </select>
  <br>

  <label for="cat_desctiption">Description</label>
    <input name="cat[description]" type="textarea" id="cat_description" value="<%= cat.description %>">
    <br>

    <input type="submit" value="<%= button_text %>" > 
</form>